body{
    background:#ccc;
	margin:0;
	padding:0;
	cursor:url(../img/mouse/1.cur),auto;
}
a:hover{
	cursor:url(../img/mouse/2.cur),pointer;
}
.bg{
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
background:url(../img/index-bg.jpg) center 0 no-repeat;
background-size:cover;
background-attachment:fixed;
}
a{
	text-decoration:none;
}
.tx{
	width:160px;
    height:200px;
	margin:388px auto 0;
	
}
.tx div{
	margin:0 auto;
	width: 145px;
	height: 145px;

	
}
.tx div img {
	width: 145px;
	height: 145px;
	border-radius: 50%;
}
.tx span{
	display:block;
	width:154px;
	height:60px;
	color:#1E90FF;
	font-size:18px;
	margin:0 auto;
	padding-top:10px;
	font-style:
}
.header {
    bottom: 0;
    position: fixed;
    left: 0;
    pointer-events: none;
}