body{
    background:#eee;
	margin:0;
	padding:0;
	cursor:url(../img/mouse/1.cur),auto;
}
a:hover{
	cursor:url(../img/mouse/2.cur),pointer;
}
a{
	text-decoration:none;
	color:black;
}
div{
	display:black;
}
.tx-bg{
	position:absolute;
	left:0;
	top:0;
	background-attachment:fixed;
	background:url(../img/bt-bg.jpg) center 0 no-repeat;
	width: 100%;
    height: 300px;
	background-size:cover;
	
}
.tx{
	width:160px;
    height:200px;
	margin:0 auto;
	padding-top:70px;
}
.tx div{
	margin:0 auto;
	width: 145px;
	height: 145px;

	
}
.tx div img {
	width: 145px;
	height: 145px;
	border-radius: 50%;
}
.tx span{
	display:block;
	width:154px;
	height:60px;
	color:#1E90FF;
	font-size:18px;
	margin:0 auto;
	padding-top:10px;
	font-style:
}
.hd{
	position:absolute;
	left:0;
	top:300px;
	width:100%;
	height:55px;
	background:black;
	box-shadow:0px 5px 10px rgba(102,204,255, 0.5);
}
.hd-lift {
	margin:0;
	
}
.hd-lift a {
	float:left;
	margin-left:25px;
	margin-top:18px;
	color:white;
}
.hd-lift a:hover{
	color:ccc;
}
.hd-center{
	float: left;
    height: 55px;
    width: 300px;
	margin-left: 10%;
}
.hd-right{
	float:right;
}
.hd-right ul {
	list-style:none;
}
.hd-right ul li {
	display:black;
	float:right;
	margin:0;
	width:85px;
	text-align:center;
}
.hd-right ul li a{
	color:white;
	
}
.hd-right ul li a:hover{
	color:ccc;
}
.xs{
	position:absolute;
	left:0;
	top:355px;
	width:100%;
	height:900px;
    margin: 20px 0px 0px 0px;
    display: block;
}
.tops{
	display: block;
    position: fixed;
    right: 0;
	bottom: 0;
	opacity: 0.7;
}
.db{
	position:absolute;
	left:0;
	top:1255px;
	width:100%;
	height:200px;
	box-shadow:0px -5px 10px rgba(102,204,255, 0.5);
	background-color:#ccc;
	margin-top:25px;
}
.db div{
	float:left;
	color: lightcyan;

}
.db-lift{
	width:25%;
	height:200px;
	margin-left:4%;
	margin-right:4%;
	text-align:center;
	
}
.db-center{
	width:26%;
	height:200px;
	margin-left:4%;
	margin-right:4%;
}
.db-right{
	width:25%;
	height:200px;
	margin-left:4%;
	margin-right:4%;
}
.db-right img{
	
	display:block;
	margin:0 auto;
	
}
.db a{
	color: lightcyan;
	display: block;
    text-align: center;
    padding-top: 10px;
}
.db a:hover{
	color:eee;
}
.kbn{
	display: block;
    position: fixed;
    width: 100%;
    height: 100%;
	z-index:1;
    pointer-events: none;
}