body{
    background:#eee;
	margin:0;
	padding:0;
	cursor:url(../img/mouse/1.cur),auto;
}
a:hover{
	cursor:url(../img/mouse/2.cur),pointer;
}
div{
	width:40%;
	float:left;
	margin-left:5%;
	margin-right:5%;
	text-align:center;
	margin-top:50px;
	height:500px;
}
div img{
	width:400px;
}

